/*************** 
* FONTS & VARA *
****************/
@font-face {
    font-family: headerFont;
    src: url(Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: paragraphFont;
    src: url(Literata/Literata-VariableFont_opsz,wght.ttf);
}


@font-face {
    font-family: emphasisFont;
    src: url(Viaoda_Libre/ViaodaLibre-Regular.ttf);
}

:root {
  --gold: #c49829; 
  --charcoal: #272626;
  --brown: #593d25;

  --map-grey: #f2f2f2;
  --map-brown: #593d25;
  --map-light-tan: #f2d4ae;
  --map-med-tan: #f2c185;
  --map-dark-tan: #a68358;
}

/********* 
* STYLES *
**********/
html, body {
	background-color: #bf965b;
	height: 100%;
	margin: 0;
	color: var(--charcoal);
	font-family: paragraphFont;
	cursor: default;
}
.panel-header .panel-header-title {
	font-family: headerFont;
}

.panel-list button {
	font-family: paragraphFont;
	color: var(--charcoal);
}

body .panel-content a:hover, 
body button:hover {
	color: #000;
}

#map h2 {
	font-family: headerFont;
	margin: 0;
	position: absolute;
	top: 0.5em;
	right: calc(50% - 4em);
	z-index: 1000;
	font-size: 24px;
}

.site-logo {
	height: 3em;
}
.site-name {
	font-weight: 600;
	font-size: 1.5em;
}

#map {
	background-color: #bf965b;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	min-width: 375px;
}

#map .leaflet-control-container {
	position: relative;
	z-index: 1001;
}

#map .leaflet-bottom {
	position: fixed;
}

.leaflet-control-attribution.leaflet-control {
	position: fixed;
	bottom: 0px;
	right: 0px;
	max-width: 65%;
}

#map #controlcontainer .panel {
	height: auto;
	background-color: var(--charcoal);
	border-radius: 4px;
	border-top-left-radius: 0px;
}

#map #controlcontainer a,
#map #controlcontainer button,
#map #controlcontainer .panel-header-title {
	/*color: var(--gold);*/
	color: #fff;
}

#controlcontainer #boxcontainer {
	background-color: var(--charcoal);
	border-radius: 4px;
}

#controlcontainer #boxcontainer #searchboxinput {
	color: #fff;
	font-size: 1.33em;
}

#controlcontainer .searchbox-menubutton::before,
#controlcontainer #searchbox-searchbutton::before,
#controlcontainer .panel-list-item:nth-of-type(4) .panel-list-item-icon,
#controlcontainer .panel-list-item:nth-of-type(5) .panel-list-item-icon{
	filter: invert(100%);
}

#controlcontainer #searchbox-clear {
	color: #b2a593;
	font-weight: bold;
	top: 0.25em;
}

.panel-list-item .panel-list-item-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    opacity: .5;
    background: #fff;
    margin-right: 12px;
    border-radius: 23px;
    padding: 4px;
}
/* not low opacity so adjust */
button.my-location.material-icons {
	background-color: #544735;
	color: #c29737;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control a {
    background-color: var(--charcoal);
    color: var(--gold);
}

#controlcontainer .searchbox-searchbutton-container, 
#controlcontainer .searchbox-searchbutton-container::after {
	border: none;
}

#controlcontainer #panelbutton.panel-close-button {
	filter: invert(1);
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
} 

#map img.leaflet-marker-icon,
#map .leaflet-interactive {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.backdrop.fade-out {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fade-in {
	-webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fade-out {
	-webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#map.small-icons img.leaflet-marker-icon {
	width: 16px !important; /* override inline style */
	height: 18.5px !important; /* override inline style */
	margin-left: -8px !important; /* override inline style */
	margin-top: -18.5px !important; /* override inline style */
}

#map.medium-icons img.leaflet-marker-icon {
	width: 20px !important; /* override inline style */
	height: 23px !important; /* override inline style */
	margin-left: -10px !important; /* override inline style */
	margin-top: -23px !important; /* override inline style */
}

#map.no-projects img[src="./images/projects.png"].leaflet-marker-icon ,
#map.no-housing img[src="./images/housing.png"].leaflet-marker-icon ,
#map.no-land img[src="./images/land.png"].leaflet-marker-icon  {
	display: none;
}

.panel-list .panel-list-item {
	padding: 0.25em;
}

.panel-list .panel-list-item div {
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
   	outline: none;
   	padding: 0.5em;
   	border-radius: 4px;
   	border: 1px solid #c1c1c1;
}

.panel-list .panel-list-item.not-pressed div {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #c1c1c1;
}

.link-button {
	padding: 0.5em;
	border-radius: 0.25em;
	color: #000000;
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 10;
}

.my-location {
	position: fixed;
	top: 79px;
	right: 10px;
	background: #ecdfce;
	padding: 3px;
	border-radius: 4px;
	border: 2px solid rgba(120,115,108,0.6);
}

.backdrop {
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 100;
	background: rgba(0,0,0,0.2);
	display: none;
}
.spinner {
	width: 20%;
	position: absolute;
	top: 40%;
	left: 40%;
	animation: spin 2s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
#controlcontainer .panel-list .panel-list-item {
	opacity: 1;
}

#controlcontainer .panel-list .panel-list-item button {
	max-width: 15em;
	text-align: left;
	cursor: pointer;
}

#controlcontainer .panel-list .panel-list-item img {
	width: 3em;
	height: 3em;
}
#controlcontainer .panel-list .panel-list-item img.plus {
	width: 2.5em;
	height: 2.5em;
	margin: 4px 0 0 4px;
}

#controlcontainer .panel-list .panel-list-item a.link {
	vertical-align: 12px;
}

#controlcontainer .panel-list .panel-list-item button:hover,
#controlcontainer .panel-list .panel-list-item a:hover {
	color:  #000;
}

#controlcontainer .panel-list .panel-list-item ul:hover,
#controlcontainer .panel-list .panel-list-item li:hover,
.panel-content ul:hover,
.panel-content li:hover {
	font-size: 13px !important;
    cursor: pointer;
    line-height: 19.5px !important;
    vertical-align: top;
}

#controlcontainer .panel-list .panel-list-item:nth-of-type(4) button {
	width: 100%;
	line-height: 2.75em;
}

#controlcontainer .panel-list .panel-list-item ul {
	list-style: disc;
}
#controlcontainer .panel-list .panel-list-item ul li {
	margin-left: 1em;
}

#controlcontainer #searchbox-clear {
	position: absolute;
	left: -1.5em;
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.33);
}

.modal-container.modal-open {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-container .modal {
	border-image-source: url('../images/border-image.png');
    border-image-slice: 70;
    border-image-repeat: stretch;
    border-width: 70px;
    border-style: solid;
	margin: 1em;
	max-width: 90%;
	width: 600px;
	position: relative;
	max-height: calc(100% - 3em);
	overflow: scroll;
	color: var(--gold);
}

.modal-container .modal .modal-content {
	background-color: var(--charcoal);
	padding: 1em;
}

.modal-container .modal .modal-content li:hover {
	color: var(--gold);
}

.modal p,
.modal ul {
	padding: 0.25em 0;
}

.modal ul li {
	margin-left: 1em;
	list-style: disc;
	/*color: #000;*/
	cursor: default;
	font-size: 16px;
	line-height: normal;


}

.modal .close-modal {
	position: absolute;
	top: 1em;
	right: 1em;
	color: var(--gold);
}

@media screen and (max-height: 525px) {
	.panel-content .panel-list .panel-list-item {
		padding-top: 0.125em;
		padding-bottom: 0.125em;
	}
	.panel-content .panel-list .panel-list-item div {
		padding: 0.25em;
	}
	.panel-content .panel-list .panel-list-item button {
		line-height: 18px;
	}
}

@media screen and (max-width: 990px) {
	#map h2 {
		right: 2.5em;
	}
}

@media screen and (max-width: 640px) {
	.leaflet-control-container #controlbox {
		top: 4em;
	}
	#map h2 {
		right: calc(50% - 4em);
	}
}


@media screen and (max-width: 440px) {
	.leaflet-control-container #controlbox {
		top: 4em;
		margin: 0.5em;
	}

	.leaflet-control-container .leaflet-top.leaflet-right {
		top: 9em;
	}
	
	button.my-location.material-icons {
		top: 8em;
	}
}