html, body {
	/*background-color: #d9d9d9;*/
	background-color: #bf965b;
	height: 100%;
	margin: 0;
	color: #000000;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: default;
}

body .panel-content a:hover, 
body button:hover {
	color: #000;
}

h2 {
	margin: 0;
	position: absolute;
	top: 1em;
	left: calc(50% - 4em);
	z-index: 10;
}

.site-logo {
	height: 3em;
}
.site-name {
	font-weight: 600;
	font-size: 1.5em;
}

#map {
	background-color:  #bf965b;
	width: 100%;
	height: 100%;
	opacity: 0.7
}

.leaflet-control-attribution.leaflet-control {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#map.small-icons img.leaflet-marker-icon {
	width: 16px !important; /* override inline style */
	height: 18.5px !important; /* override inline style */
	margin-left: -8px !important; /* override inline style */
	margin-top: -18.5px !important; /* override inline style */
}

#map.medium-icons img.leaflet-marker-icon {
	width: 20px !important; /* override inline style */
	height: 23px !important; /* override inline style */
	margin-left: -10px !important; /* override inline style */
	margin-top: -23px !important; /* override inline style */
}

#map.no-projects img[src="./images/projects.png"].leaflet-marker-icon ,
#map.no-housing img[src="./images/housing.png"].leaflet-marker-icon ,
#map.no-land img[src="./images/land.png"].leaflet-marker-icon  {
	display: none;
}
.panel-list .panel-list-item:nth-of-type(1),
.panel-list .panel-list-item:nth-of-type(2),
.panel-list .panel-list-item:nth-of-type(3),
.panel-list .panel-list-item:nth-of-type(5) {
	padding: 0.25em;
}
.panel-list .panel-list-item:nth-of-type(1) div,
.panel-list .panel-list-item:nth-of-type(2) div,
.panel-list .panel-list-item:nth-of-type(3) div,
.panel-list .panel-list-item:nth-of-type(5) div {
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
   	outline: none;
   	padding: 0.5em;
   	border-radius: 4px;
   	border: 1px solid #c1c1c1;
}

.panel-list .panel-list-item.not-pressed div {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #c1c1c1;
}

.link-button {
	padding: 0.5em;
	border-radius: 0.25em;
	color: #000000;
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 10;
}

.my-location {
	position: fixed;
	top: 79px;
	right: 10px;
	background: #ecdfce;
	padding: 3px;
	border-radius: 4px;
	border: 2px solid rgba(120,115,108,0.6);
}

.backdrop {
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 100;
	background: rgba(0,0,0,0.2);
	display: none;
}
.spinner {
	width: 20%;
	position: absolute;
	top: 40%;
	left: 40%;
	animation: spin 2s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
#controlcontainer .panel-list .panel-list-item {
	opacity: 1;
}

#controlcontainer .panel-list .panel-list-item button {
	max-width: 15em;
	text-align: left;
	cursor: pointer;
}

#controlcontainer .panel-list .panel-list-item img {
	width: 3em;
	height: 3em;
}
#controlcontainer .panel-list .panel-list-item img.plus {
	width: 2.5em;
	height: 2.5em;
}

#controlcontainer .panel-list .panel-list-item a.link {
	vertical-align: 12px;
}

#controlcontainer .panel-list .panel-list-item button:hover,
#controlcontainer .panel-list .panel-list-item a:hover {
	color:  #000;
}

#controlcontainer .panel-list .panel-list-item ul:hover,
#controlcontainer .panel-list .panel-list-item li:hover,
.panel-content ul:hover,
.panel-content li:hover {
	font-size: 13px !important;
    cursor: pointer;
    line-height: 19.5px !important;
    vertical-align: top;
}

#controlcontainer .panel-list .panel-list-item:nth-of-type(4) li {
	cursor: default;
}

#controlcontainer .panel-list .panel-list-item ul {
	list-style: disc;
}
#controlcontainer .panel-list .panel-list-item ul li {
	margin-left: 1em;
}

#controlcontainer #searchbox-clear {
	position: absolute;
	left: -1.5em;
}